html{
    margin: 0px;
    padding: 0px;
}
body {
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
#dpcontainer{
    display: flex;
}
#profile{
    width: 50%;
    margin: auto;
}
h1{
    font-size: 40px;
    background-color: rgb(29, 30, 46);
    color: white;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2.5%;
    z-index: 1;
    text-align: center;
}
#users{
    display: flex;
    /* position: relative; */
}
#details{
    /* width: 50%; */

    width: 25%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 100%;
    top: 0;
    right: 0;
    margin-top: 10%;
    z-index: 1;
}
table *{
    padding: 5px;
}
td{
    width: 50%;
}

#images{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 25%;
    margin:2.5%;
    margin-top: 10%;
}
#images img{
    width: 30%;
}
